<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joblessfriend.jobfinder.community.notice">

	<resultMap type="NoticeVo" id="noticeResultVo">
		<id column="NOTICE_ID" property="noticeId" />
		<result column="ADMIN_ID" property="adminId" />
		<result column="NOTICE_CATEGORY_ID" property="noticeCategoryId" />
		<result column="TITLE" property="title" />
		<result column="CONTENT" property="content" />
		<result column="CREATE_AT" property="createAt"
			javaType="java.util.Date" />
		<result column="MODIFIED_AT" property="modifiedAt"
			javaType="java.util.Date" />
		<result column="VIEWS" property="views" />
		
		<!-- noticeCategory 내부 매핑 -->
	    <association property="noticeCategory" javaType="com.joblessfriend.jobfinder.community.domain.NoticeCategoryVo">
	        <result column="NOTICE_CATEGORY_CONTENT" property="noticeCategoryContent" />        
	    </association>
		
	</resultMap>
	

	<select id="noticeSelectList" parameterType="com.joblessfriend.jobfinder.util.SearchVo" resultMap="noticeResultVo" >
	<![CDATA[
		SELECT *
		FROM (SELECT INNER_QUERY.*, ROWNUM AS rnum
		        FROM (SELECT NOTI.NOTICE_ID, NOTI.ADMIN_ID, NOTI.NOTICE_CATEGORY_ID, 
		        		NOTI.TITLE,NOTI.CONTENT, NOTI.CREATE_AT, NOTI.MODIFIED_AT, NOTI.VIEWS,  
		        		CATE.NOTICE_CATEGORY_CONTENT
		                FROM NOTICE NOTI INNER JOIN NOTICE_CATEGORY CATE
		                ON NOTI.NOTICE_CATEGORY_ID = CATE.NOTICE_CATEGORY_ID
		                WHERE 1=1
	]]>
		<if test="keyword != null and keyword != ''">
		         AND (NOTI.TITLE LIKE '%' || #{keyword} || '%'
		         OR CATE.NOTICE_CATEGORY_CONTENT LIKE '%' || #{keyword} || '%')
		</if>
	<![CDATA[
		        ORDER BY NOTI.NOTICE_ID DESC) INNER_QUERY 
		    WHERE ROWNUM <= #{endRow})
		WHERE rnum >= #{startRow}
	]]>
	</select>
	
	<select id="getNoticeTotalCount" resultType="int" parameterType="com.joblessfriend.jobfinder.util.SearchVo">
		SELECT COUNT(*)
        FROM NOTICE NOTI INNER JOIN NOTICE_CATEGORY CATE
		ON NOTI.NOTICE_CATEGORY_ID = CATE.NOTICE_CATEGORY_ID
        <if test="keyword != null or keyword != ''">
				where (NOTI.TITLE LIKE '%' || #{keyword} || '%'
		         OR CATE.NOTICE_CATEGORY_CONTENT LIKE '%' || #{keyword} || '%')
         </if>
	</select>
	
	<insert id="noticeInsertOne" parameterType="com.joblessfriend.jobfinder.community.domain.NoticeVo">
		INSERT INTO NOTICE(NOTICE_ID, ADMIN_ID, NOTICE_CATEGORY_ID, TITLE, CONTENT, CREATE_AT, MODIFIED_AT, VIEWS)
		VALUES(#{noticeId}, #{adminId}, #{noticeCategoryId}, #{title}, #{content}, SYSDATE, NULL, 0)	
	</insert>
	
	<select id="noticeDetail" parameterType="int" resultMap="noticeResultVo">
		SELECT NOTI.NOTICE_ID, NOTI.ADMIN_ID, NOTI.NOTICE_CATEGORY_ID, 
		       NOTI.TITLE,NOTI.CONTENT, NOTI.CREATE_AT, NOTI.MODIFIED_AT, NOTI.VIEWS,  
		        CATE.NOTICE_CATEGORY_CONTENT
		FROM NOTICE NOTI INNER JOIN NOTICE_CATEGORY CATE
		ON NOTI.NOTICE_CATEGORY_ID = CATE.NOTICE_CATEGORY_ID
		WHERE NOTICE_ID= #{noticeId}
	</select>
	
	<select id="noticeSeqNum" resultType="int">
		 SELECT NOTICE_ID_SEQ.NEXTVAL FROM DUAL
	</select>
	
	<update id="noticeViewCount" parameterType="com.joblessfriend.jobfinder.community.domain.NoticeVo">
   		UPDATE NOTICE SET VIEWS=#{views}
		WHERE NOTICE_ID = #{noticeId}		
	</update>
	
	<update id="noticeUpdate">
		UPDATE NOTICE SET NOTICE_CATEGORY_ID=#{noticeCategoryId}, TITLE=#{title}, CONTENT=#{content}, MODIFIED_AT=SYSDATE
		WHERE NOTICE_ID=#{noticeId}
	</update>
	
	<delete id="noticeDelete" parameterType="list">
		DELETE FROM NOTICE
		WHERE NOTICE_ID IN
		<foreach item="noticeId" collection="list" open="(" separator="," close=")">
			#{noticeId}
		</foreach>
	</delete>
	
	
	
</mapper>