<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joblessfriend.jobfinder.communityPostComment">
	<resultMap type="PostCommentVo" id="postCommentResultVo">
		<id column="POST_COMMENT_ID" property="postCommentId" />
		<result column="COMMUNITY_ID" property="communityId" />
		<result column="MEMBER_ID" property="memberId" />
		<result column="NICKNAME" property="nickname" />
		<result column="CONTENT" property="content" />
		<result column="CREATE_AT" property="createAt"
			javaType="java.util.Date" />
		<result column="MODIFIED_AT" property="modifiedAt"
			javaType="java.util.Date" />
	</resultMap>

	<select id="postCommentSelectList" parameterType="com.joblessfriend.jobfinder.community.domain.PostCommentVo" resultMap="postCommentResultVo">
		<![CDATA[
			SELECT PCOM.POST_COMMENT_ID, PCOM.COMMUNITY_ID, PCOM.MEMBER_ID, PCOM.CONTENT, PCOM.CREATE_AT, PCOM.MODIFIED_AT
			, MEM.NICKNAME
			FROM POST_COMMENT PCOM INNER JOIN MEMBER MEM
			ON PCOM.MEMBER_ID = MEM.MEMBER_ID
			WHERE PCOM.COMMUNITY_ID = #{communityId}
			ORDER BY PCOM.POST_COMMENT_ID DESC
		]]>
	</select>
	
	<insert id="postCommentInsert" parameterType="com.joblessfriend.jobfinder.community.domain.PostCommentVo" keyProperty="communityId">
		INSERT INTO POST_COMMENT (POST_COMMENT_ID, COMMUNITY_ID, MEMBER_ID, CONTENT, CREATE_AT, MODIFIED_AT)
		VALUES(POST_COMMENT_ID_SEQ.NEXTVAL, #{communityId}, #{memberId}, #{content}, SYSDATE, NULL)
	</insert>
	
	<delete id="postCommentDelete" parameterType="int">
		
		DELETE FROM POST_COMMENT
		WHERE POST_COMMENT_ID = #{postCommentId}
		
	</delete>
	
	<update id="postCommentUpdate" parameterType="com.joblessfriend.jobfinder.community.domain.PostCommentVo" keyProperty="communityId">
			UPDATE POST_COMMENT SET CONTENT = #{content} , MODIFIED_AT = SYSDATE
			WHERE POST_COMMENT_ID = #{postCommentId}
	</update>
	
</mapper>