@charset "UTF-8";/* 전체 구조 */
body {
  margin: 0;
  font-family: 'NanumGothic', sans-serif;
  background: #fff;
}

.container {
  display: flex;
  width: 930px;
  margin: 50px auto;
  align-items: flex-start;
}

/* 사이드바 */
.sidebar {
  width: 130px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 20px 10px 20px; /* 아래 여백 줄임 */
  margin-right: 30px;
  align-self: flex-start;
}

.sidebar h2 {
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 12px;
  font-size: 14px;
  color: #4A4A4A;
  cursor: pointer;
}

.sidebar li:last-child {
  margin-bottom: 0 !important;  /* 강제 제거 */
}

/* 메인 */
.main {
  flex-grow: 1;
}

.main h1 {
  font-size: 24px;
  margin-bottom: 20px;
}