	.content {
		user-select: none;
	}
	
	/* 개인정보 관리*/
	.accountInfo {
		display: flex;
		flex-direction: column;
		gap: 25px;
	}
	
	.accountInfo h2 {
		margin:0px;
		padding: 15px 0px;
		border-top: 1px solid #D3D5D9;
		border-bottom: 1px solid #D3D5D9;
		
		font-size: 20px;
		font-weight: bold;
		color: #1B202F;
	}
	.infoCategory {
		color:#6D707B;
		font-size: 16px;
		font-weight: bold;
		display:inline-block;
	}
	
	#nicknameInput {
		width: 200px;
		height: 14px;
		padding: 13px 10px;
		border: 1px solid #D1D5E3;
		outline: none;
		border-radius: 5px;
		font-size: 14px;
		margin-top: 15px;
	}
	
	#passwordChange .infoCategory{
		margin-bottom: 15px;
	}
	
	.socialInfo {
		margin-left: 20px;
		font-size: 16px;
		color:#6D707B;
	}
	
	.inGoogle {
		color:#b0b3b9;
	}
	
	/* 복사버튼 */
	.infoBtn {
		border: 1px solid #b0b3b9;
		border-radius: 5px;
		color: #6D707B;
		cursor: pointer;
		background: none;
		font-size: 16px;
		margin-left: 10px;
		font-size: 14px;
	}
	
	#pwdChangeMain {
		display: flex;
	}
	.changeReset {
		display: flex;
		flex-direction: column-reverse;
	}
	
	.resetBtn{
		margin-bottom: 13px;
		margin-left: 15px;
		color: #6D707B;
		cursor: pointer;
		font-size: 14px;
	}
	
	/* 비밀번호 변경 폼 */
	.formStyle {
		width: 250px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	
	.formStyle label{
		color:#6D707B;
		font-size: 14px;
		display: block;
		margin-bottom: 8px;
	}
	
	.formStyle input {
		width: 230px;
		height: 14px;
		padding: 13px 10px;
		border: 1px solid #D1D5E3;
		outline: none;
		border-radius: 5px;
		font-size: 14px;
	}
	
	.formStyle input::placeholder {
		color: #BABECA;
	}
	
	.formStyle input:hover{
		border:1px solid #C9C9C9;
	}
	
	.formStyle input:focus {
		border: 1px solid #F69800;
	}
	
	.valiCheckText {
		color: red;
		font-size: 14px;
	}
	
	.btnStyle {
		border-radius: 5px;
		border: 1px solid #AFB2BD;
		
		background-color: white;
		color: #6D707B;
		
		padding: 10px;
		font-size: 16px;
		cursor: pointer;
	}
	
	.btnStyle:hover {
		background-color: #F3F4F8;
	}
	
	/* 	회원탈퇴 */
	.accountDelete {
		margin-top: 50px;
	}
	
	.accountDelete #deleteCheck {
		width: 18px;
	}
	.accountDelete #deleteCheckLabel {
		display: inline;
	}
	
	/* 	모달팝업  */
	.popTitle {
		font-size: 20px;
		font-weight: bold;
		display: inline-block;
		margin-bottom: 10px;
	}
	
	.popText {
		font-size: 14px;
	}
	
	.popup-wrap {
		background-color:rgba(0,0,0,0.5);
		justify-content:center;
		align-items:center;
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		display:none; 
	}
	
	.modalPopup{
		width:100%;
		max-width:300px;
		background-color:#ffffff;
		border-radius:10px;
		overflow:hidden;

		margin:auto;
		position:relative;
		top:-10%;
		
		padding: 50px;
		
		text-align: center;
	}
	
	.popBtns {
		margin-top: 20px;
	}
	
	.popBtnStyle{
		width: 100px;
		height: 40px;
		border: none;
		border-radius: 5px;
		font-size: 16px;
		cursor: pointer;
	}
	
	.popSubmit {
		background-color: #F69800;
		color: white;
	}
	
	.popSubmit:hover {
		background-color: rgb(227, 142, 0);
	}
	
	.popCancel:hover {
		background-color: rgb(233, 233, 233);
	}
	
	/* 복사 팝업 */
	#copyPop {
		opacity: 0%;
	    padding: 3px 20px;
	    font-size: 14px;
	    background: rgba(0, 0, 0, 0.30);
	    border-radius: 100px;
	    color: white;
	    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	    transition: all 0.5s;
	    margin-left: 10px;
	}
	/*토스트 메시지 활성화 되었을 때*/
	#copyPop.active {
	    opacity: 100%;
	}

	#charCount{
		width: 45px;
	    text-align: right;
	    display: inline-block;
	}

	#charCount.maxReached {
		color: red;
	}
