<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joblessfriend.jobfinder.resume.dao.CertificateDao">

    <resultMap type="com.joblessfriend.jobfinder.resume.domain.CertificateVo" id="certificateResultMap">
        <id column="CERTIFICATE_ID" property="certificateId" />
        <result column="CERTIFICATE_NAME" property="certificateName" />
        <result column="ISSUING_AUTHORITY" property="issuingAuthority" />
        <result column="IS_ACTIVE" property="isActive" /> 
    </resultMap>
    
    <select id="certificateList" resultMap="certificateResultMap">
        SELECT CERTIFICATE_ID, CERTIFICATE_NAME, ISSUING_AUTHORITY
        FROM CERTIFICATE
    </select>
    
    <select id="certificateSelectListByResumeId" resultMap="certificateResultMap">
        SELECT CERTIFICATE_RESUME_ID, CERTIFICATE_ID, CERTIFICATE_NAME, ACQUISITION_DATE, ISSUING_AUTHORITY
        FROM CERTIFICATE_RESUME
        WHERE RESUME_ID=#{resumeId}
    </select>
    
	<insert id="certificateInsertOne">
		INSERT INTO CERTIFICATE_RESUME
		(CERTIFICATE_RESUME_ID, RESUME_ID, CERTIFICATE_ID, ACQUISITION_DATE)
		VALUES(CERTIFICATE_RESUME_ID_SEQ.NEXTVAL, #{resumeId}, #{certificateId}, #{acquisitionDate})
	</insert>
	
	<delete id="certificateDeleteOne" parameterType="map">
		DELETE FROM CERTIFICATE_RESUME
        WHERE RESUME_ID=#{resumeId}
	</delete>
</mapper>
