<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joblessfriend.jobfinder.resume.dao.ResumeDao">

 	<resultMap type="com.joblessfriend.jobfinder.resume.domain.ResumeVo" id="ResumeResultMap">

		<id column="RESUME_ID" property="resumeId" />
		<result column="NAME" property="memberName" />
		<result column="BIRTHDATE" property="birthDate" />
		<result column="PHONENUMBER" property="phoneNumber" />
		<result column="EMAIL" property="email" />
		<result column="POSTAL_CODE_ID" property="postalCode" />
		<result column="ADDRESS" property="address" />
		<result column="SELF_INTRODUCTION" property="selfIntroduction" />
		<result column="MEMBER_ID" property="memberId" />
		<result column="PROFILE" property="profile" />
		<result column="CREATE_AT" property="createDate" javaType="java.util.Date" />
		<result column="MODIFIED_AT" property="modifyDate" javaType="java.util.Date" />

	</resultMap>
	
	<!-- 조회 -->
	<select id="findResumesByMemberId" resultMap="ResumeResultMap">
        SELECT RESUME_ID, NAME, BIRTHDATE, PHONENUMBER, EMAIL, ADDRESS, SELF_INTRODUCTION, MEMBER_ID, PROFILE, CREATE_AT, MODIFIED_AT	
        FROM RESUME
        WHERE MEMBER_ID = #{memberId}
        ORDER BY RESUME_ID DESC
	</select>

	<select id="findResumeByResumeId" resultMap="ResumeResultMap">
        SELECT RESUME_ID, NAME, BIRTHDATE, PHONENUMBER, EMAIL, ADDRESS, SELF_INTRODUCTION, MEMBER_ID, PROFILE, CREATE_AT, MODIFIED_AT	
        FROM RESUME
        WHERE RESUME_ID = #{resumeId}
	</select>

	<!-- 삭제 -->
    <delete id="deleteResumeById">
        DELETE FROM RESUME 
        WHERE RESUME_ID = #{resumeId}
        AND MEMBER_ID = #{memberId}
    </delete>
    
    <!-- 이력서 사진 -->
    <update id="updateProfileImage">
        UPDATE RESUME
        SET PROFILE = #{imageUrl}
        WHERE RESUME_ID = #{resumeId}
          AND MEMBER_ID = #{memberId}
    </update>
    
    <!-- 이력서 저장 -->
    <insert id="insertResume" parameterType="com.joblessfriend.jobfinder.resume.domain.ResumeVo">
	    INSERT INTO RESUME (
	    	RESUME_ID,
	        MEMBER_ID, NAME, BIRTHDATE, PHONENUMBER, EMAIL,
	        POSTAL_CODE_ID, ADDRESS, SELF_INTRODUCTION, PROFILE,
	        CREATE_AT, MODIFIED_AT
	    )
	    VALUES (
	    	RESUME_ID_SEQ.NEXTVAL,
	        #{memberId, jdbcType=INTEGER},
	        #{memberName, jdbcType=VARCHAR},
	        #{birthDate, jdbcType=DATE},
	        #{phoneNumber, jdbcType=VARCHAR},
        	#{email, jdbcType=VARCHAR},
	        #{postalCodeId, jdbcType=INTEGER},
	        #{address, jdbcType=VARCHAR},
	        #{selfIntroduction, jdbcType=VARCHAR},
	        #{profile, jdbcType=VARCHAR},
	        SYSDATE, SYSDATE
	    )
	</insert>
	
    <!-- 학력정보 저장 -->
    <insert id="insertSchool" parameterType="com.joblessfriend.jobfinder.resume.domain.SchoolVo">
	    INSERT INTO SCHOOL (
	    	SCHOOL_ID,
	        RESUME_ID, 
	        SORTATION, 
	        SCHOOL_NAME, 
	        YEAR_OF_GRADUATION,
	        STATUS
	    )
	    VALUES (
	    	SCHOOL_ID_SEQ.NEXTVAL,
	        #{resumeId}, 
	        #{sortation}, 
	        #{schoolName}, 
	        TO_DATE(#{yearOfGraduation}, 'YYYY'), 
	        #{status}
	    )
	</insert>
	
	<!-- 교육정보 저장 -->
	<insert id="insertEducation" parameterType="com.joblessfriend.jobfinder.resume.domain.EducationVo">
	    INSERT INTO EDUCATION (
	        RESUME_ID, EDU_INSTITUTION, EDU_NAME, START_DATE, END_DATE
	    )
	    VALUES (
	        #{resumeId}, #{eduInstitution}, #{eduName}, #{startDate}, #{endDate}
	    )
	</insert>
	
	<!-- 경력정보 저장 -->
	<insert id="insertCareer" parameterType="com.joblessfriend.jobfinder.resume.domain.CareerVo">
	    INSERT INTO CAREER (
	        RESUME_ID, COMPANY_NAME, DEPARTMENT_NAME, HIRE_YM, RESIGN_YM,
	        POSITION, JOB_TITLE, TASK_ROLE, WORK_DESCRIPTION, SALARY
	    )
	    VALUES (
	        #{resumeId}, #{companyName}, #{departmentName}, #{hireYm}, #{resignYm},
	        #{position}, #{jobTitle}, #{taskRole}, #{workDescription}, #{salary}
	    )
	</insert>
	
	<!-- 스킬정보 저장 -->
	<insert id="insertResumeTag">
	    INSERT INTO RESUME_TAG (
	        RESUME_ID, TAG_ID, CREATE_AT, MODIFIED_AT
	    )
	    VALUES (
	        #{resumeId}, #{tagId}, SYSDATE, SYSDATE
	    )
	</insert>
	
	<!-- 자격증정보 저장 -->
	<insert id="insertCertificateResume">
		INSERT INTO CERTIFICATE_RESUME (
		RESUME_ID, CERTIFICATE_ID, CREATE_AT, MODIFIED_AT
		)
		VALUES (
		#{resumeId}, #{certificateId}, SYSDATE, SYSDATE
		)
	</insert>	
	
	<!-- 포트폴리오정보 저장 -->
	<insert id="insertPortfolio" parameterType="com.joblessfriend.jobfinder.resume.domain.PortfolioVo">
	    INSERT INTO PORTFOLIO (
	        RESUME_ID, FILE_NAME, STORED_FILE_NAME, FILE_EXTENSION, CREATE_AT, MODIFIED_AT
	    )
	    VALUES (
	        #{resumeId}, #{fileName}, #{storedFileName}, #{fileExtension}, SYSDATE, SYSDATE
	    )
	</insert>
	
</mapper>