<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.joblessfriend.jobfinder.admin.mapper.adminDashboardMapper">

    <!-- 전월, 당월 회원 증가 수 조회 -->
<select id="getMonthlyMemberIncrease" resultType="com.joblessfriend.jobfinder.util.ChartVo">
   SELECT
	SUM(CASE WHEN CREATE_AT &gt;= TRUNC(ADD_MONTHS(SYSDATE, -1), 'MM')
	AND CREATE_AT &lt; TRUNC(SYSDATE, 'MM') THEN 1 ELSE 0 END) AS previousResult,
	SUM(CASE WHEN TO_CHAR(CREATE_AT, 'YYYY-MM') = TO_CHAR(SYSDATE, 'YYYY-MM') THEN 1 ELSE 0 END) AS currentResult
	FROM MEMBER
</select>

<!-- 전월, 당월 기업 회원 증가 수 조회 -->
<select id="getMonthlyCompanyIncrease" resultType="com.joblessfriend.jobfinder.util.ChartVo">
    SELECT
	SUM(CASE WHEN CREATE_AT &gt;= TRUNC(ADD_MONTHS(SYSDATE, -1), 'MM')
	AND CREATE_AT &lt; TRUNC(SYSDATE, 'MM') THEN 1 ELSE 0 END) AS previousResult,
	SUM(CASE WHEN TO_CHAR(CREATE_AT, 'YYYY-MM') = TO_CHAR(SYSDATE, 'YYYY-MM') THEN 1 ELSE 0 END) AS currentResult
	FROM COMPANY
</select>

<!-- 전월, 당월 등록된 채용공고 수 조회 -->
<select id="getMonthlyRecruitmentRegistCount" resultType="com.joblessfriend.jobfinder.util.ChartVo">
    SELECT
	SUM(CASE WHEN CREATE_DATE &gt;= TRUNC(ADD_MONTHS(SYSDATE, -1), 'MM')
	AND CREATE_DATE &lt; TRUNC(SYSDATE, 'MM') THEN 1 ELSE 0 END) AS previousResult,
	SUM(CASE WHEN TO_CHAR(CREATE_DATE, 'YYYY-MM') = TO_CHAR(SYSDATE, 'YYYY-MM') THEN 1 ELSE 0 END) AS currentResult
	FROM JOB_POST
</select>

<!-- 전월, 당월 커뮤니티 게시글 증가 수 조회 -->
<select id="getMonthlyCommunityIncrease" resultType="com.joblessfriend.jobfinder.util.ChartVo">
    SELECT
	SUM(CASE WHEN CREATE_AT &gt;= TRUNC(ADD_MONTHS(SYSDATE, -1), 'MM')
	AND CREATE_AT &lt; TRUNC(SYSDATE, 'MM') THEN 1 ELSE 0 END) AS previousResult,
	SUM(CASE WHEN TO_CHAR(CREATE_AT, 'YYYY-MM') = TO_CHAR(SYSDATE, 'YYYY-MM') THEN 1 ELSE 0 END) AS currentResult
	FROM COMMUNITY
</select>

<!-- 전월, 당월 지원 이력서 수 조회 -->
<select id="getMonthlyApplyCount" resultType="com.joblessfriend.jobfinder.util.ChartVo">
    SELECT
	SUM(CASE WHEN APPLY_DATE &gt;= TRUNC(ADD_MONTHS(SYSDATE, -1), 'MM')
	AND APPLY_DATE &lt; TRUNC(SYSDATE, 'MM') THEN 1 ELSE 0 END) AS previousResult,
	SUM(CASE WHEN TO_CHAR(APPLY_DATE, 'YYYY-MM') = TO_CHAR(SYSDATE, 'YYYY-MM') THEN 1 ELSE 0 END) AS currentResult
	FROM RESUME_MANAGE
</select>

    
</mapper> 