<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.joblessfriend.jobfinder.admin.dao.AdminRecruitmentDao">


	<!-- 관리자용 -->
	<select id="adminRecruitmentList" parameterType="com.joblessfriend.jobfinder.util.SearchVo" resultType="com.joblessfriend.jobfinder.recruitment.domain.RecruitmentVo">
		SELECT *
        FROM (
                 SELECT inner_query.*, ROWNUM AS rnum
                 FROM (
                          SELECT
                              jp.job_post_id AS jobPostId,
                              c.company_id AS companyId,
                              c.company_name AS companyName,
                              jp.title AS title,
                              jp.career_type AS careerType,
                              jp.education AS education,
                              jg.job_group_name AS jobGroupName,
                              j.job_name AS jobName,
                              jp.start_date AS startDate,
                              jp.end_date AS endDate,
                              jp.VIEWS AS views
                          FROM job_post jp
                                   JOIN company c ON jp.company_id = c.company_id
                                   JOIN job_group jg ON jp.job_group_id = jg.job_group_id
                                   JOIN job j ON jp.job_id = j.job_id
                          <if test="keyword != null and keyword != ''">
		                WHERE jp.title LIKE '%' || #{keyword} || '%'
		           			 </if>
                          ORDER BY jp.job_post_id desc
                      ) inner_query
                 WHERE ROWNUM &lt;= #{endRow}
             )
        WHERE rnum &gt;= #{startRow}

	</select>


	<delete id="jobPostFileDelete" parameterType="list">

		DELETE FROM JOB_POST_FILE
		WHERE JOB_POST_ID IN
		<foreach item="id" collection="list" open="(" separator=","	close=")">
			#{id}
		</foreach>
	</delete>

	<delete id="jobPostTagDelete" parameterType="list">
		DELETE FROM JOB_POST_TAG
		WHERE JOB_POST IN
		<foreach item="id" collection="list" open="(" separator=","	close=")">
			#{id}
		</foreach>
	</delete>

	<delete id="jobPostDelete" parameterType="list">
		DELETE FROM JOB_POST
		WHERE JOB_POST_ID IN
		<foreach item="id" collection="list" open="(" separator=","	close=")">
			#{id}
		</foreach>
	</delete>
	
	
    <select id="getRecruitmentTotalCount" resultType="int" parameterType="com.joblessfriend.jobfinder.util.SearchVo">
        SELECT COUNT(*)
        FROM job_post jp
                 JOIN company c ON jp.company_id = c.company_id
                 JOIN job_group jg ON jp.job_group_id = jg.job_group_id
                 JOIN job j ON jp.job_id = j.job_id
         <if test="keyword != null and keyword != ''">
		     WHERE jp.title LIKE '%' || #{keyword} || '%'
		 </if>
    </select>


</mapper>
