<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joblessfriend.jobfinder.admin.dao.AdminMemberDao">

    <resultMap type="com.joblessfriend.jobfinder.member.domain.MemberVo" id="memberResultMap">
        <id column="MEMBER_ID" property="memberId"/>
        <result column="EMAIL" property="email" />
        <result column="PASSWORD" property="password" />
        <result column="NICKNAME" property="nickname" />
        <result column="RESUME_MAX" property="resumeMax" />
        <result column="CREATE_AT" property="createAt" />
        <result column="MODIFIED_AT" property="modifiedAt" />
        <result column="PROVIDER" property="provider" />
    </resultMap>

    <select id="memberSelectList" parameterType="com.joblessfriend.jobfinder.util.SearchVo" resultMap="memberResultMap">
        SELECT * 
        FROM (
            SELECT ROWNUM AS RN, INNERTABLE.*
            FROM (
                SELECT MEMBER_ID, EMAIL, NICKNAME, RESUME_MAX, CREATE_AT, MODIFIED_AT, PROVIDER
                FROM MEMBER
                	<if test="keyword != null and keyword != ''">
						WHERE UPPER(EMAIL) LIKE UPPER('%' || #{keyword} || '%')
                		OR UPPER(NICKNAME) LIKE UPPER('%' || #{keyword} || '%')
					</if>
               		ORDER BY MEMBER_ID DESC
            ) INNERTABLE
            WHERE ROWNUM &lt;= #{endRow}
        )
        WHERE RN &gt;= #{startRow}
    </select>

    <select id="memberCount" resultType="int">
        SELECT COUNT(MEMBER_ID)
        FROM MEMBER
        <if test="keyword != null and keyword != ''">
			WHERE UPPER(EMAIL) LIKE UPPER('%' || #{keyword} || '%')
        	OR UPPER(NICKNAME) LIKE UPPER('%' || #{keyword} || '%')
		</if>
    </select>

    <select id="memberSelectOne" parameterType="int" resultMap="memberResultMap">
        SELECT *
        FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>

    <update id="memberUpdateOne" parameterType="com.joblessfriend.jobfinder.member.domain.MemberVo">
        UPDATE MEMBER
        <set>
            <if test="email != null">EMAIL = #{email},</if>
            <if test="password != null">PASSWORD = #{password},</if>
            <if test="nickname != null">NICKNAME = #{nickname},</if>
            <if test="resumeMax != null">RESUME_MAX = #{resumeMax},</if>
            <if test="provider != null">PROVIDER = #{provider},</if>
            MODIFIED_AT = SYSDATE
        </set>
        WHERE MEMBER_ID = #{memberId}
    </update>

    <delete id="memberDeleteOne" parameterType="int">
        DELETE FROM MEMBER
        WHERE MEMBER_ID = #{memberId}
    </delete>

    <delete id="memberDeleteList" parameterType="java.util.List">
        DELETE FROM MEMBER
        WHERE MEMBER_ID IN
        <foreach item="memberId" collection="list" open="(" separator="," close=")">
            #{memberId}
        </foreach>
    </delete>

</mapper>
