<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.joblessfriend.jobfinder.jobGroup.dao.JobGroupDao">
	
	<resultMap type="com.joblessfriend.jobfinder.jobGroup.domain.JobGroupVo" id="jobGroupResultMap">
		<id column="JOB_GROUP_ID" property="jobGroupId"/>
		<result column="JOB_GROUP_NAME" property="jobGroupName"/>
	</resultMap>
	
		
		<select id="selectAllJobGroupsForAjax" resultMap="jobGroupResultMap">
		    SELECT JOB_GROUP_ID, JOB_GROUP_NAME
		    FROM JOB_GROUP
		    ORDER BY JOB_GROUP_ID ASC
		</select>
		
		<select id="getJobGroupNameById" parameterType="int" resultType="String">
			SELECT JOB_GROUP_NAME
			FROM JOB_GROUP
			WHERE JOB_GROUP_ID = #{jobGroupId}
		</select>

	</mapper> 