<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joblessfriend.jobfinder.recruitment.dao.RecruitmentDao">

    <select id="jobGroupList" resultType="com.joblessfriend.jobfinder.recruitment.domain.JobGroupVo">
        SELECT
            JOB_GROUP_ID AS jobGroupId,
            JOB_GROUP_NAME AS jobGroupName
        FROM JOB_GROUP
    </select>


    <select id="jobList" parameterType="int" resultType="com.joblessfriend.jobfinder.recruitment.domain.JobGroupVo">
        SELECT
            JOB_NAME AS jobName
        FROM JOB
        WHERE JOB_GROUP_ID = #{jobGroupId}
    </select>


</mapper>
