@charset "UTF-8";

/* 댓글 관련 스타일 */
    .commentlist {
        width: 840px;
        min-height: 80px;
        padding: 10px;
        font-family: noto-sans-kt;
        border-bottom: 1px solid #D1D5E3;
    }

    #commentWrap {
        margin-top: 50px;
    }

    #inputCommentBox {
        width: 830px;
        height: 80px;
        padding: 10px;
        margin-bottom: 10px;
        resize: none;
        font-family: noto-sans-kt;
    }
    
    

    #inputCommentWrap {
        padding-bottom: 13px;
        border-bottom: 1px solid #D1D5E3;
    }

    .inputBtn {
        width: 60px;
        height: 30px;
    }

    #commentBtnWrap {
        width: 850px;
        margin-bottom: 10px;
        margin-top: 3px;
        display: flex;
        gap: 20px;
    }

    #commentBtnWrap p {
        margin: 2px;
        margin-left: auto;
        color: #6D707B;
        font-size: 13px;
    }
    
    #modifiedWrap>.boxStyle{
    	width: 820px;
        height: 80px;
        padding: 10px;
        margin-bottom: 10px;
        resize: none;
        font-family: noto-sans-kt;
    }
    
    #modifiedWrap>#commentBtnWrap{
    	width: 840px;
    	gap: 10px;
    }
    
    #inputReplyWrap>.boxStyle{
     	width: 800px;
        height: 80px;
        padding: 10px;
        margin: auto;
        margin-bottom: 10px;
        resize: none;
        font-family: noto-sans-kt;
    }
    
    .replyBoxStyle{
    	margin-left: 50px;
    	margin-right: 50px;
    	padding-top: 20px;
    	margin-bottom: 30px;
    	
    }
    
    .replyBoundary{
    	border-bottom: 1px solid #bdc3c9;
    }
    
    #inputReplyWrap{
    	margin-top: 30px;
		padding-left: 20px;
    	padding-bottom: 13px;
        border-bottom: 1px solid #D1D5E3;
    }
    #replyBtnWrap{
    	width: 820px;
        margin-bottom: 10px;
        margin-top: 3px;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }
    
    #replyBtnWrap p {
    	padding-top: 2px;
        margin: 2px;
        margin-left: auto;
        color: #6D707B;
        font-size: 13px;
    }
    
    .replyBottom{
	font-size: 11pt;
	color: #A1A4AF;
	display: flex;
	gap: 10px;
	
	}
	
	.nonReplyBoundary{
	width: 860px;
	height: 50px;
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	
	border-bottom: 1px solid #D1D5E3;
	
	}
	
	.nonReplyBoundary>span{
	color:#898989;
	margin: auto;
	
	}
	

    #inputModiReplyWrap>.boxStyle{
     	width: 750px;
        height: 80px;
        padding: 10px;
        margin: auto;
        margin-bottom: 10px;
        resize: none;
        font-family: noto-sans-kt;
    }
	
    #replyModiBtnWrap{
   		width: 770px;
       margin-bottom: 10px;
       margin-top: 3px;
       display: flex;
       justify-content: flex-end;
       gap: 20px;
    }
    
    #replyModiBtnWrap p {
    	padding-top: 2px;
        margin: 2px;
        margin-left: auto;
        color: #6D707B;
        font-size: 13px;
    }