@charset "UTF-8";

.commentlist {
	width: 840px;
	min-height: 80px;
	vertical-align: top;
	padding: 10px;
	margin-bottom: 0px;
	resize: none;
	font-family: noto-sans-kt; /* 구글 기본폰트 */
	padding-bottom: 13px;
	border-bottom: 1px solid #D1D5E3;
}

#memName {
	font-weight: 560;
	margin-top: 14px;
}

.commentBtn {
	background-color: #ffff;
	border: 2px solid #D1D5E3;
	border-radius: 5px;
	min-width: 60px;
	height: 30px;
	margin-bottom: 13px;
	color: #6D707B;
}

.commentBoxStyle {
	color: #36383F;
	white-space: pre-line;
	overflow-wrap: break-word;
}

.commentBottom{
	font-size: 11pt;
	color: #A1A4AF;
	display: flex;
	gap: 10px;
	
}

.commentBoxStyle>p {
	margin: 0px;
}

#commentBtnWrap .countComment.maxReached{
    color: red;
    font-weight: bold;
}

#replyModiBtnWrap .countReply.maxReached{
    color: red;
    font-weight: bold;
}

#replyBtnWrap .countReply.maxReached{
    color: red;
    font-weight: bold;
}


#inputModiReplyWrap 

.replyBox{
	width: 860px;
	
}

#nonCommentList{
	width: 860px;
	height: 150px;
	display: flex;
	
}

#nonCommentList>span{
	color:#898989;
	margin: auto;
	
}


.repCntBtn{
	background-color: #fff;
	color: #6D707B;
	border-radius: 3px;
	border: 2px solid #D1D5E3;
	
	min-width: 50px;
	height: 25px;
}

