@charset "UTF-8";

/* 댓글 관련 스타일 */
    .commentlist {
        width: 840px;
        min-height: 80px;
        padding: 10px;
        margin-bottom: 10px;
        font-family: noto-sans-kt;
        border-bottom: 1px solid #D1D5E3;
    }

    #commentWrap {
        margin-top: 50px;
    }

    #inputCommentBox {
        width: 830px;
        height: 80px;
        padding: 10px;
        margin-bottom: 10px;
        resize: none;
        font-family: noto-sans-kt;
    }

    #inputCommentWrap {
        padding-bottom: 13px;
        border-bottom: 1px solid #D1D5E3;
    }

    .inputBtn {
        width: 60px;
        height: 30px;
    }

    #commentBtnWrap {
        width: 855px;
        margin-bottom: 10px;
        margin-top: 3px;
        display: flex;
        gap: 20px;
    }

    #commentBtnWrap p {
        margin: 2px;
        margin-left: auto;
        color: #6D707B;
        font-size: 13px;
    }
    
    #modifiedWrap>.boxStyle{
    	width: 820px;
        height: 80px;
        padding: 10px;
        margin-bottom: 10px;
        resize: none;
        font-family: noto-sans-kt;
    }
    
    #modifiedWrap>#commentBtnWrap{
    	width: 840px;
    	gap: 10px;
    }