
	
	#header {
		min-width: 1280px;
		width: 100%;
		border-bottom: 1px solid #E0E0E0;
	}
	
	#headerWrap {
		width: 1210px;
		height: 50px;
		margin: auto;
		padding: 5px 0px;
	}
	
	
	/* 	헤더 위쪽 영역 */

	#headInner {
		height: inherit;
		display: flex;
		align-items:center;
	}
	
	#logoDiv img {
		width: 120px;
		margin-top: 8px;
	}
	
	/*		로그인 상태 영역		*/	
	#userDiv{
		margin-left: auto
	}
	
	#userNav {
		list-style:none;
		display: flex;
	    align-items: center;
	    column-gap: 18px;
	    padding: 0px;
	}
	
	.userNavItem a {
		text-decoration: none;
		color: #373F57;
		font-size: 15px;
	}
	
	.corpNav {
		width: 120px;
		height: 40px;
		border: 2px solid #DEDEDE;
		border-radius: 25px;
		
		text-align: center;
		line-height: 40px;
		
		cursor: pointer;
		user-select: none;
		
		position: relative;
	}
	
	.corpNav a {
		margin-left: 8px;
	}
	
	.corpMgr {
		pointer-events: none;
	}


	
	/*		헤더 안에 왼쪽 여백		*/
	
/* 	.headBlankLeft { */
/* 		margin-left: 14px; */
/* 	} */
	
	
	/*		구글 아이콘 스타일		*/
	
	.material-symbols-outlined {
	  font-variation-settings:
	    'FILL' 0,
	    'wght' 400,
	    'GRAD' 0,
	    'opsz' 24;
	  vertical-align: middle;
	  font-size: 22px;
	  color: #BDBDBD;
	}

	.material-symbols-rounded {
	  font-variation-settings:
	  'FILL' 0,
	  'wght' 400,
	  'GRAD' -25,
	  'opsz' 20;
	  vertical-align: middle;
	  font-size: 22px;
	}
	
	/* 기업 서비스 메뉴 */
	.companyServiceNav {
		width: 140px;
		height: 155px;
		border: 1px solid #DFDFDF;
		border-radius: 8px;
		
		position: absolute;
		z-index: 5;
		left: -20px;
		top: 50px;
		
		background-color: white;
		box-shadow : 0px 0px 4px 0px rgb(0,0,0,0.1);
		
		text-align: left;
		font-size: 14px;
		line-height: normal;
		color: #373F57;
		
		display: none;
	}
	
	.companyServiceNav div{
		font-weight: bold;
		padding: 12px 20px;
		border-bottom: 1px solid #E6E6E6;
		user-select: none;
	}

	.companyServiceNav ul{
		list-style:none;
		margin: 0;
		padding: 12px 20px;
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	
	.companyServiceNav li{
		height: 25px;
	}

	.companyServiceNav a{
		text-decoration: none;
		color: #373F57;
	}
	
	