/* 전체 구조 */

body {
	overflow-y: scroll;
}

#containerWrap {
	display: flex;
	justify-content: center;
}

.main {
  width: 1028px;
}

.content {
	width: 900px;
	margin: auto;
}

/* 카테고리명 h1*/
.mainTitle {
	font-size: 32px;
	margin: 0px;
	margin-bottom: 30px;
}

/* 작성 버튼 */
.write-btn {
  background-color: #f79000;
  color: #fff;
  border: none;
  padding: 8px 14px;
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  float: right;
}

/* 테이블 헤더 */
.table-header {
  display: flex;
  justify-content: space-between;
  background-color: #f5f6fa;
  padding: 10px;
  padding-left: 300px;
  padding-right: 85px;
  border-top: 1px solid #737789;
  font-size: 16px;
  font-weight: bold;
  color: #2d2d41;
  clear: both;
}

/* 이력서 카드 */
.resume-card {
  position: relative;
  display: flex;
  padding: 25px 0px;
  cursor: pointer;
  border-bottom: 1px solid #D3D5D9;
  align-items: center;
}
.resume-card:last-child {
	border-bottom: none;
}

.resume-content {
	width: 700px;
  margin-left: 20px; /* ← 여백 원하는 만큼 조정 */
}

.resume-title {
  font-size: 20px;
  font-weight: bold;
  color: #1b202f;
  margin-bottom: 14px;
}

.resume-meta {
  font-size: 14px;
  color: #383d4d;
  display: flex;
  gap: 20px;
  margin-bottom: 6px;
}

.resume-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 4px;
}

.resume-skills .tag {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #999;
  border-radius: 999px;
  background-color: #fff;
  font-size: 13px;
  color: #333;
  white-space: nowrap;
}


.resume-date {
  font-size: 14px;
  color: #656b80;
  margin-top: 6px;
}


/* 수정/삭제 버튼 영역 */

.button-wrapper {
	width: 200px;
	text-align: center;
}

.edit-btn {
  border: 1px solid #afb2bd;
  background: white;
  border-radius: 5px;
  padding: 6px 12px;
  font-size: 12px;
  font-weight: bold;
  color: #4e5366;
  cursor: pointer;
}

/* 삭제 버튼 폼 위치 조정 */
.delete-form {
  position: absolute;
  right: 20px;         /* 수정 버튼과 수평 정렬 */
  top: calc(40% - 48px);  /* 수정 버튼보다 위로 띄우기 (40~48px 조정) */
}

/* 삭제 버튼 스타일 */
.delete-btn {
	position: absolute;
	top: 10px;
	left: 870px;
  background: none;
  border: none;
  color: #4e5366;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
}

/* 호버 시 약간 강조 */
.delete-btn:hover {
  color: #2d2d41;
}

.resume-empty {
  text-align: center;
  padding: 100px 0;
  color: #999;
  font-size: 16px;
}

.resume-write-link {
  display: inline-block;
  margin-top: 10px;
  color: #f79000;
  font-weight: bold;
  text-decoration: none;
}

/* 아이콘 색상 */
.icon-orange {
  color: #F69800;
}