	/*		로고		*/
	#logoDiv {
		text-align: center;
		margin-bottom: 50px;
	}
	
	/* 	개인회원 | 기업회원  */
	
	.authNav {
		list-style:none;
		display: flex;
	    align-items: center;
	    justify-content: center;
	    column-gap: 30px;
	    padding: 0px;
	    margin: 20px auto;
	}
	
	.authNavItem a {
		text-decoration: none;
		color: #D4D4D4;
		font-size: 20px;
	}
	
	.partitionNav {
		font-size: 15px;
		color: #D4D4D4;
		user-select: none;
	}

	
	
	/* 가입 폼 */
	
	#signUpForm {
		width: 300px;
		margin: auto;
	}
	
	#signUpForm fieldset {
		border: 0px;
		padding: 0;
		margin: 0;
		display: flex;
		gap: 10px;
		flex-direction: column;
	}
	
	#signUpForm legend {
		display: none;
	}
	
	#signUpForm input {
		height: 38px;
		padding: 5px 15px;
		border: 1px solid #E0E0E0;
		outline: none;
		border-radius: 5px;
		font-size: 16px;
	}
	
	#signUpForm input::placeholder {
		color: #ADADAD;
	}
	
	#signUpForm input:hover{
	border:1px solid #C9C9C9;
	}
	
	#signUpForm input:focus {
		border: 1px solid #F69800;
	}
	
	.inputGroup {
		display: flex;
		flex-direction: column;
	}
	.valiCheckText {
		color: red;
		font-size: 14px;
	}
	
	
	/* 	버튼  */
	.btnStyle {
		border: none;
		background-color: #F69800;
		color: white;
	}
	
	#signUpBtn {
		height: 50px;
		border-radius: 5px;
		font-size: 18px;
		font-weight: bold;
		cursor: pointer;
	}
	
	#signUpBtn:hover {
		background-color: #DE8100;
	}
	
	
	#goLogin {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	#goLogin span {
		color:#898989;
		font-size: 12px;
	}
	
	#loginSuggestion {
		margin: 5px auto;
	}
	
	#loginSuggestion a{
		text-decoration: none;
		font-weight: bold;
		color: #898989;
	}
	
	/* 	소셜로그인  */
	#socialLogin {
		text-align: center;
	}
	.socialIcon {
		width: 300px;
		margin-top: 10px;
	}
	
	/* 유효성검사 토스트 팝업 */
	#askConfirm {
		position: fixed;
		opacity: 0%;
/* 	    bottom: -50px; */
		top: -50px;
		
	    left: 50%;
	    transform: translate(-50%,0);
	    padding: 10px 50px;
	    background: rgba(246, 152, 0, 0.70);
	    border-radius: 100px;
	    color: #fff;
	    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	    transition: all 0.5s;
	}
	/*토스트 메시지 활성화 되었을 때*/
	#askConfirm.active {
	    opacity: 100%;
/* 	    bottom: 50px; */
		top: 30px;
	}

	/* 공통단 css 수정 */
	#container #containerWrap{
   		width: 300px;
   		margin-top: 0px;
   		padding-top: 100px;
    }