@charset "UTF-8";

.boxListOne {
	width: 860px;
	height: 150px;
	padding: 30px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
}

.boxListOne:hover {
	/* background-color: #F4F5F8; */
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.boxListOne div {
	width: 870px;
	margin-bottom: 18px;
}

h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.previewText {
	margin: 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	white-space: normal;
	word-break: break-all;
	line-height: 1.5em;
	height: calc(1.5em * 2);
}

#infoContent div {
	width: 50px;
	margin: 0px;
	font-size: 10pt;
	color: #a2a6b1;
	display: flex;
}
.infoWriter{
	width: 300px;
	margin: 0px;
	font-size: 10pt;
	color: #a2a6b1;
	display: flex;
}

#noCommunity{
	color: #D1D5E3;
	margin: auto;
}

#noCommunityBox{
	
	width: 900px;
	height: 150px;
	padding: 30px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

#notice{	
	width: 908px;
	height: 36px;
	padding: 6px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;

/* 	border: 2px solid #D1D5E3; */
 	border: 2px solid #F69800; 
	border-radius: 5px;	
	background-color: white;
}

#noticeType{/* 공지 타입(일반공지, 이벤트) 등이 뜨는 란 */
	width: 80px;
	height: 30px;
	
/* 	border: 1px solid #F69800; 	 */
	border-radius: 50px;
	background-color: #fff3e0;
	
	color: #F69800;
	
	text-align: center;
	line-height: 30px;
	
	
}

.noticeType{	
	width: 80px;
	height: 30px;
	
	border: 1px solid #F69800; 	
	border-radius: 50px;
	background-color: rgb(255, 249, 238);
	
	color: #f68300;
	
	text-align: center;
	line-height: 30px;
	
	margin-top: 3px;
}

.listTitle{
	height: 35px;
	display: flex; 
	gap: 15px; 
	text-align: center;
	line-height: 35px;
}

.titleBox{
	height: 30px;
	white-space: nowrap;
	
}