@charset "UTF-8";

.wrap {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.contentBox {
	width: 860px;
	padding: 30px;
	min-height: 200px;
	margin-bottom: 20px;
}

.contentBox h2 {
	max-width: 870px;
	margin: 0px;
	margin-bottom: 13px;
}

.detailTitle {
	max-width: 870px;
	margin: 0px;
	margin-bottom: 13px;
	overflow-wrap: break-word;
}

#contentText {
	margin-top: 20px;
	white-space: pre-line;
	overflow-wrap: break-word;
}

#bottomSide {
	display: flex;
	margin-top: 50px;
	color: #6D707B;
}

#aTags {
	margin-left: auto;
}

#aTags a {
	margin-left: 20px;
}


#contentText img{	
/* 	transform: scale(0.6);
	transform-origin: top left; */
	width: 40%;
	max-width: 80%;
	height: auto;
}

.detailBtnStyle{
	margin: 0; 
	height: 32px;
	align-items:center;
	
	background-color: #ffff;
	
	border-radius: 5px;
	
	border: 2px solid  #D1D5E3;
	
}

.detailBtn_BottomStyle{
	display: flex;
	gap: 15px;
	height: 30px;
	align-items:center;
	
	justify-content: flex-end;
}
