@charset "UTF-8";


	#containerWrap{
		margin-bottom: 100px;
	}
	.boxStyle{
		width: 1190px;
		height: 45px;
		
		font-size: 14pt;
	
	}
	
	#cancleBtn, #uploadBtn{
		width: 100px;
		height: 45px;
		
		font-size: 14pt;
	}
	
	#cancleBtn{
		background-color: white;
		color: #6D707B;
		border: 2px solid #D1D5E3; 
	}
	
	#btnWrap{
		margin-top: 20px;
		
		float: right;
		margin-right: 10px;
		
	}
	#titleWrap{
		margin-top: 40px;
	}
	#titleWrap>p{
		color: #6D707B;
		font-size: 14pt;
	}
	#contentWriteWrap{
		margin-top: 40px;
	}
	#contentWriteWrap>p{
		color: #6D707B;
		font-size: 14pt;
	}
	.contentBox{
		width: 1200px;
	}
	
	