@charset "UTF-8";
#pageWrap{
	display: flex;
	gap: 2px;
	width: 1500px;

}
#pagination{
	display: flex;
    flex-direction: row;
    margin: auto;
}
.page-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    color: #333;
    padding: 6px 12px;
    margin: 0 2px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.page-btn:hover {
    background-color: #f5f5f5;
}

.page-btn.active {
    background-color: #ffff;
    color: white;
    color: #F69800;
    font-weight: bold;
    border: none;
    outline: 1px solid #F69800;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}