/* 사이드바 카테고리 선택 색상 */
.sidebar .recruitMgr {
	color: #F69800;
	font-weight: bold;	
}

#containerWrap {
	display: flex;
	justify-content: center;
}

.main {
  width: 1028px;
}

.content {
	width: 900px;
	margin: auto;
}

/* .tableWrap { */
/* 	display: flex; */
/* 	flex-direction: column; */
/* } */

/* 공고 작성 버튼 */
#newPost{
	width: 120px;
	background-color: #f79000;
	color: #fff;
	border: none;
	padding: 8px 14px;
	font-size: 13px;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 10px;
	float: right;
}

/* 관리 버튼 */

.buttonPlace {
   text-align: center;
   vertical-align: middle;
   width: 150px;
}

.buttonPlace>button{
	width: 120px;
	font-size: 12px;
	vertical-align: middle;
	border: none;
	height: 35px;
	margin: 5px;
	border-radius: 5px;
	background-color: #f5f6fa;
	cursor: pointer;
}

.buttonPlace>button:hover{
	background-color: rgb(234, 236, 244);
}

.buttonPlace>button[disabled]:hover{
	background-color: #f5f6fa;
}


.deletePlace {
	width: 40px;
	text-align: left;
	vertical-align: top;
}

.deletePlace>button {
	margin-top: 12px;
	font-size: 15px;
	cursor: pointer;
}

.delBtn {
	background: none;
	border: none;
}

/* 테이블 */
#recruitmentList {
	width: 900px;
	border-collapse: collapse;
}
.recruitmentRow {
	border-bottom: 1px solid #D3D5D9;
}
.recruitmentRow:last-child {
	border-bottom: none;
}
/* 테이블 헤더 */
#table-header>tr>th {
  background-color: #f5f6fa;
  text-align: center;
  height: 40px;
  border-top:1px solid #737789; 
}
/* 테이블 내용 */
.jobPostTitle {
	margin: 15px 0px;
	margin-left: 20px;
}
.jobPostTitle a{
	font-size: 20px;
	text-decoration: none;  
 	color: inherit;         
}

.jobPostTitle a:hover{
	text-decoration: underline;
}

.innerTable{
	font-size: 14px;
	margin-bottom: 15px;
	table-layout: fixed;
	margin-left: 20px;
}
.info{
	width: 130px;
	padding: 0px 10px;
	text-align: justify;
	color: gray;
}
.name{
	text-align: left;
}

/* 공고마감 */
.stoppedPost{
	font-size:small;
	color: red;
	font-weight: bold;
	padding: 0px 5px;
}


