<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.joblessfriend.jobfinder.company.dao.CompanyApplyDao">
	<resultMap id="companyApplyResultMap" type="com.joblessfriend.jobfinder.company.domain.CompanyApplyVo">

		<!-- 기본 필드 -->
		<result property="stateId" column="STATE_ID"/>
		<result property="stateName" column="STATE_NAME"/>

		<!-- member -->
		<association property="member" javaType="com.joblessfriend.jobfinder.member.domain.MemberVo">
			<result property="memberId" column="MEMBER_ID"/>
			<result property="nickname" column="NICKNAME"/>
			<result property="email" column="EMAIL"/>
		</association>

		<!-- company -->
		<association property="company" javaType="com.joblessfriend.jobfinder.company.domain.CompanyVo">
			<result property="companyId" column="COMPANY_ID"/>
			<result property="companyName" column="COMPANY_NAME"/>
			<result property="email" column="COMPANY_EMAIL"/>
		</association>

		<!-- resumeVo -->
		<association property="resumeVo" javaType="com.joblessfriend.jobfinder.resume.domain.ResumeVo">
			<result property="resumeId" column="RESUME_ID"/>
			<result property="memberName" column="RC_MEMBER_NAME" javaType="java.lang.String"/>
			<result property="resumeFile" column="RESUME_FILE"/>
		</association>

		<!-- answerList 매핑 -->
		<collection property="answerList" ofType="com.joblessfriend.jobfinder.recruitment.domain.JobPostAnswerVo">
			<result property="answerId" column="ANSWER_ID"/>
			<result property="answerText" column="ANSWER_TEXT"/>
		</collection>

		<!-- questionList 매핑 -->
		<collection property="questionList" ofType="com.joblessfriend.jobfinder.recruitment.domain.JobPostQuestionVo">
			<result property="questionId" column="QUESTION_ID"/>
			<result property="questionText" column="QUESTION_TEXT"/>
		</collection>
	</resultMap>

	<select id="getApplyMemberList" resultMap="companyApplyResultMap" parameterType="com.joblessfriend.jobfinder.util.SearchVo">
		SELECT *
		FROM (
				 SELECT inner_query.*, ROWNUM AS rnum
				 FROM (
						  SELECT
							  m.MEMBER_ID,
							  rc.RESUME_ID,
							  rc.NAME AS RC_MEMBER_NAME,
							  rm.APPLY_DATE
						  FROM RESUME_MANAGE rm
								   JOIN RESUME_COPY rc ON rm.RM_ID = rc.RESUME_ID
								   JOIN MEMBER m ON rc.MEMBER_ID = m.MEMBER_ID
								   JOIN JOB_POST jp ON rm.JOB_POST_ID = jp.JOB_POST_ID
								   JOIN COMPANY c ON jp.COMPANY_ID = c.COMPANY_ID
						  WHERE c.COMPANY_ID = #{companyId}
							AND jp.JOB_POST_ID = #{jobPostId}
						  ORDER BY rm.APPLY_DATE DESC
					  ) inner_query
				 WHERE ROWNUM &lt;= #{endRow}
			 )
		WHERE rnum &gt;= #{startRow}
	</select>
<!--	지원자수 카운트 -->
	<select id="getApplyMemberCount"
			resultType="int"
			parameterType="com.joblessfriend.jobfinder.util.SearchVo">
		SELECT COUNT(*)
		FROM RESUME_MANAGE rm
				 JOIN JOB_POST jp ON rm.JOB_POST_ID = jp.JOB_POST_ID
				 JOIN COMPANY c ON jp.COMPANY_ID = c.COMPANY_ID
		WHERE c.COMPANY_ID = #{companyId}
		  AND jp.JOB_POST_ID = #{jobPostId}
	</select>

</mapper>