<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.joblessfriend.jobfinder.company">



		<resultMap type="com.joblessfriend.jobfinder.company.domain.CompanyVo" id="companyResultMap">
			<id column="COMPANY_ID" property="companyId"/>
			<result column="EMAIL" property="email"/>
			<result column="PASSWORD" property="password"/>
			<result column="COMPANY_NAME" property="companyName"/>
			<result column="BRN" property="brn"/>
			<result column="REPRESENTATIVE" property="representative"/>
			<result column="TEL" property="tel"/>
			<result column="POSTAL_CODE_ID" property="postalCodeId"/>
			<result column="ARENA_NAME" property="arenaName"/>
			<result column="ADDRESS" property="address"/>

		</resultMap>

	
		
		<select id="companySelectOne" resultMap="companyResultMap">
			SELECT *
			FROM COMPANY
			WHERE COMPANY_ID = #{companyId}
		</select>

 		<update id="companyUpdateOne" parameterType="com.joblessfriend.jobfinder.company.domain.CompanyVo">
		    UPDATE COMPANY
		    <set>
		        <if test="companyName != null">COMPANY_NAME = #{companyName},</if>
		        <if test="email != null">EMAIL = #{email},</if>
		        <if test="brn != null">BRN = #{brn},</if>
		        <if test="representative != null">REPRESENTATIVE = #{representative},</if>
		        <if test="tel != null">TEL = #{tel},</if>
		   <if test="postalCodeId != null">POSTAL_CODE_ID = #{postalCodeId},</if>
		    <if test="arenaName != null">ARENA_NAME = #{arenaName},</if>
		        <if test="address != null">ADDRESS = #{address},</if>
		        <if test="password != null">PASSWORD = #{password},</if>
		    </set>
		    WHERE COMPANY_ID = #{companyId}
		</update>
		

		<delete id="companyDeleteOne">
			DELETE COMPANY
			WHERE COMPANY_ID = #{companyId}
		
		</delete>





		<insert id="companyInsertOne" parameterType="com.joblessfriend.jobfinder.company.domain.CompanyVo">
			INSERT INTO COMPANY
			(COMPANY_ID, EMAIL, PASSWORD, COMPANY_NAME, BRN, REPRESENTATIVE, TEL)
			VALUES(COMPANY_ID_SEQ.NEXTVAL, #{email}, #{password}, #{companyName}, #{brn}, #{representative}, #{tel})
		</insert>
		
		<select id="companyExist" parameterType="map"
		resultMap="companyResultMap">
			SELECT COMPANY_ID, EMAIL, PASSWORD, COMPANY_NAME, BRN, REPRESENTATIVE, TEL, POSTAL_CODE_ID, ADDRESS
			FROM COMPANY
			WHERE EMAIL = #{email, jdbcType=VARCHAR}
			AND PASSWORD = #{password, jdbcType=VARCHAR}
		</select>
		
		<select id="companyFindId" parameterType="map"
		resultMap="companyResultMap">
			SELECT EMAIL
			FROM COMPANY
			WHERE REPRESENTATIVE = #{representative}
			AND BRN = #{brn}
		</select>
		
		<select id="companyEmailExist" parameterType="String" resultMap="companyResultMap">
			SELECT COMPANY_ID, EMAIL, PASSWORD, COMPANY_NAME, BRN, REPRESENTATIVE, TEL, POSTAL_CODE_ID, ADDRESS
			FROM COMPANY WHERE EMAIL = #{email}
		</select>
		
		<update id="updatePassword" parameterType="map">
		    UPDATE COMPANY
		    SET PASSWORD = #{password}
		    WHERE COMPANY_ID = #{companyId}
		</update>


	</mapper>