<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.joblessfriend.jobfinder.company.dao.CompanyApplyDao">
	<resultMap id="applySummaryResultMap" type="com.joblessfriend.jobfinder.company.domain.ApplySummaryVo">
		<result property="resumeId" column="RESUME_ID"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="resumeTitle" column="RESUME_TITLE"/>
		<result property="applyDate" column="APPLY_DATE"/>
		<result property="stateName" column="STATE_NAME"/>
	</resultMap>

	<select id="getApplyListByCompany" parameterType="map" resultMap="applySummaryResultMap">
		SELECT
			rc.RESUME_ID,
			rc.NAME AS MEMBER_NAME,
			rc.RESUME_TITLE,
			rm.APPLY_DATE,
			s.STATE_NAME
		FROM RESUME_MANAGE rm
				 JOIN RESUME_COPY rc ON rm.RM_ID = rc.RESUME_ID
				 JOIN JOB_POST jp ON rm.JOB_POST_ID = jp.JOB_POST_ID
				 JOIN COMPANY c ON jp.COMPANY_ID = c.COMPANY_ID
				 JOIN STATE s ON rm.STATE_ID = s.STATE_ID
		WHERE c.COMPANY_ID = #{companyId}
		  AND jp.JOB_POST_ID = #{jobPostId}
		ORDER BY rm.APPLY_DATE DESC
	</select>


	<select id="getPagedApplyList" parameterType="map" resultMap="applySummaryResultMap">
		SELECT
			rc.RESUME_ID,
			rc.NAME AS MEMBER_NAME,
			rc.RESUME_TITLE,
			rm.APPLY_DATE,
			s.STATE_NAME
		FROM RESUME_MANAGE rm
				 JOIN RESUME_COPY rc ON rm.RM_ID = rc.RESUME_ID
				 JOIN JOB_POST jp ON rm.JOB_POST_ID = jp.JOB_POST_ID
				 JOIN COMPANY c ON jp.COMPANY_ID = c.COMPANY_ID
				 JOIN STATE s ON rm.STATE_ID = s.STATE_ID
		WHERE c.COMPANY_ID = #{companyId}
		  AND jp.JOB_POST_ID = #{jobPostId}
		ORDER BY rm.APPLY_DATE DESC
	</select>



<!--	지원자수 카운트 -->
	<select id="countApplyByCompany"
			resultType="int"
			parameterType="map">
		SELECT COUNT(*)
		FROM RESUME_MANAGE rm
				 JOIN JOB_POST jp ON rm.JOB_POST_ID = jp.JOB_POST_ID
				 JOIN COMPANY c ON jp.COMPANY_ID = c.COMPANY_ID
		WHERE c.COMPANY_ID = #{companyId}
		  AND jp.JOB_POST_ID = #{jobPostId}
	</select>

</mapper>